name: CI

on:
  push:
    branches: [ "feature/blog" ]
  pull_request:
    branches: [ "main" ]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Production Site
        run: |
          make publish
          touch output/.nojekyll

      - name: Deploy To Main Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: main
          publish_dir: ./output
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
